$bold-text: #373737;
$text: #4E4E4E;
$white: #FFFFFF;

@mixin h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 2.81rem;
    letter-spacing: 0.1rem; 
    color: $bold-text; 
    text-transform: uppercase;
}

@mixin text {
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $text;
}

@mixin text-bold {
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $bold-text;
}

.rappresent .wrapper {
    max-width: 1060px;
    height: 842px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.rappresent__content {
    width: 405px;
}

.content__heading {
    @include h2;
    width: 370px;
    margin-top: 295px;
}

.content__text {
    @include text;
    margin-top: 20px;
}

.rappresent-bold {
    @include text-bold;
}

.get-started {
    margin-top: 30px;
}

.rappresent__image {
    margin-top: 120px;
}