* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

@import 'header';
@import 'webdew';
@import 'rappresent';
@import 'our-community';
@import 'implement';
@import 'sign-up';
@import 'download';
@import 'footer';